* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Neutral Face";
  letter-spacing: 2px;
}

body {
  background: rgb(26, 27, 38);
  background: linear-gradient(90deg, rgb(26, 27, 38) 0%, rgb(51, 54, 83) 50%, rgb(26, 27, 38) 100%);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header__inner h1 {
  font-size: 40px;
  letter-spacing: 0.25em;
  text-align: center;
  padding: 30px;
  background-color: rgba(100, 100, 100, 0.1);
  color: #fff;
}

.title {
  padding: 20px 0;
}

.title h2 {
  color: #fff;
  text-align: center;
  font-size: 28px;
}

.filters {
  margin: 70px 0;
}

.filters__inner {
  background-color: rgba(100, 100, 100, 0.1);
}

.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 15px;
}

.filter__name {
  flex: 0 0 20%;
}

.filter__list {
  flex: 1 1 70%;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.filter__list li {
  list-style-type: none;
}

.filter__list li button {
  color: rgb(26, 27, 38);
  border: none;
  font-size: 14px;
  border-radius: 3px;
  padding: 5px;
  transition: all 0.3s ease;
}

.active {
  background: #eba945;
}

button:disabled {
  background-color: #444;
  cursor: not-allowed !important;
}

.filter__list li button:hover {
  color: #aaa;
  cursor: pointer;
}

.games__inner {
  background-color: rgba(100, 100, 100, 0.1);
}

.games__inner-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 20px;
}

.games__item {
  flex: 0 0 33%;
  max-width: 413px;
  color: #fff;
  overflow: hidden;
  position: relative;
}

@media (any-hover: hover) {
  .games__item:hover .game__info {
    opacity: 1;
    transform: translate(0, 0%);
  }
}

.game__image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

.game__image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
}

.game__image::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.27);
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: 10;
  opacity: 0;
}

@media (any-hover: hover) {
  .game__image:hover::before {
    opacity: 1;
  }

  .game__image:hover img {
    transform: scale(1.05);
  }
}

.game__name {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.game__parameters {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.game__info {
  position: absolute;
  bottom: 0px;
  padding: 20px 0px;
  width: 100%;
  background: rgba(27, 27, 27, 0.372);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  opacity: 1;
  transition: all 0.3s ease 0s;
  transform: translate(0, 100%);
  will-change: transform;
}